@model Dictionary<string, double>
@{
    Layout = "~/Views/Shared/_OnePageLayout.cshtml";
}
@{
    var second = Model.ElementAt(1);
    var third = Model.ElementAt(2);
    var forth = Model.ElementAt(3);
    var fifth = Model.ElementAt(4);
    var sixth = Model.ElementAt(5);
    var seventh = Model.ElementAt(6);
    var eight = Model.ElementAt(7);
    var nineth = Model.ElementAt(8);
    var tenth = Model.ElementAt(9);
}
<!doctype html>
<html>
<div class="row justify-content-center">
    <div class="col-xl-7 col-lg-9 text-center">
       <br />
       <br />
        <h1>Here Are Your Best Options to Relocate</h1>

    </div>
</div>
<body className='snippet-body'>
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="row p-2 bg-white border rounded">
                    <div class=" d-flex justify-content-center align-items-center col-md-3 mt-1"><h1 class=" display-1 fw-bold">1.</h1></div>
                    <div class=" d-flex justify-content-center align-items-center  col-md-6 mt-1">
                        <h1><a href="@Url.Action("Details", "Cities", new { name = @Model.Keys.First() })">@Model.Keys.First()</a></h1>



                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h5 class="mr-1">City AHP Score</h5>
                        </div>
                        <h6 class="text-success">@Model.Values.First()</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button"><a class="text-white" href="@Url.Action("Details", "Cities", new { name = @Model.Keys.First() })">Details</a></button></div>
                    </div>
                </div>
                <br />
                <div class="row p-2 bg-white border rounded">
                    <div class=" d-flex justify-content-center align-items-center col-md-3 mt-1"><h1 class=" display-1 fw-bold">2.</h1></div>
                    <div class=" d-flex justify-content-center align-items-center  col-md-6 mt-1">
                        <h1><a href="@Url.Action("Details", "Cities", new { name = @second.Key })">@second.Key</a></h1>

                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h5 class="mr-1">City AHP Score</h5>
                        </div>
                        <h6 class="text-success">@second.Value.ToString()</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button"><a class="text-white" href="@Url.Action("Details", "Cities", new { name = @second.Key })">Details</a></button></div>
                    </div>
                </div>
                <br />
                <div class="row p-2 bg-white border rounded">
                    <div class=" d-flex justify-content-center align-items-center col-md-3 mt-1"><h1 class=" display-1 fw-bold">3.</h1></div>
                    <div class=" d-flex justify-content-center align-items-center  col-md-6 mt-1">
                        <h1><a href="@Url.Action("Details", "Cities", new { name = @third.Key })">@third.Key</a></h1>

                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h5 class="mr-1">City AHP Score</h5>
                        </div>
                        <h6 class="text-success">@third.Value.ToString()</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button"><a class="text-white" href="@Url.Action("Details", "Cities", new { name = @third.Key })">Details</a></button></div>
                    </div>
                </div>
                <br />
                <div class="row p-2 bg-white border rounded">
                    <div class=" d-flex justify-content-center align-items-center col-md-3 mt-1"><h1 class=" display-1 fw-bold">4.</h1></div>
                    <div class=" d-flex justify-content-center align-items-center  col-md-6 mt-1">
                        <h1><a href="@Url.Action("Details", "Cities", new { name = @forth.Key })">@forth.Key</a></h1>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h5 class="mr-1">City AHP Score</h5>
                        </div>
                        <h6 class="text-success">@forth.Value.ToString()</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button"><a class="text-white" href="@Url.Action("Details", "Cities", new { name = @forth.Key })">Details</a></button></div>
                    </div>
                </div>
                <br />
                <div class="row p-2 bg-white border rounded">
                    <div class=" d-flex justify-content-center align-items-center col-md-3 mt-1"><h1 class=" display-1 fw-bold">5.</h1></div>
                    <div class=" d-flex justify-content-center align-items-center  col-md-6 mt-1">
                        <h1><a href="@Url.Action("Details", "Cities", new { name = @fifth.Key })">@fifth.Key</a></h1>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h5 class="mr-1">City AHP Score</h5>
                        </div>
                        <h6 class="text-success">@fifth.Value.ToString()</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button"><a class="text-white" href="@Url.Action("Details", "Cities", new { name = @fifth.Key })">Details</a></button></div>
                    </div>
                </div>
                <br />
                <div class="row p-2 bg-white border rounded">
                    <div class=" d-flex justify-content-center align-items-center col-md-3 mt-1"><h1 class=" display-1 fw-bold">6.</h1></div>
                    <div class=" d-flex justify-content-center align-items-center  col-md-6 mt-1">
                        <h1><a href="@Url.Action("Details", "Cities", new { name = @sixth.Key })">@sixth.Key</a></h1>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h5 class="mr-1">City AHP Score</h5>
                        </div>
                        <h6 class="text-success">@sixth.Value.ToString()</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button"><a class="text-white" href="@Url.Action("Details", "Cities", new { name = @sixth.Key })">Details</a></button></div>
                    </div>
                </div>
                <br />
                <div class="row p-2 bg-white border rounded">
                    <div class=" d-flex justify-content-center align-items-center col-md-3 mt-1"><h1 class=" display-1 fw-bold">7.</h1></div>
                    <div class=" d-flex justify-content-center align-items-center  col-md-6 mt-1">
                        <h1><a href="@Url.Action("Details", "Cities", new { name = @seventh.Key })">@seventh.Key</a></h1>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h5 class="mr-1">City AHP Score</h5>
                        </div>
                        <h6 class="text-success">@seventh.Value.ToString()</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button"><a class="text-white" href="@Url.Action("Details", "Cities", new { name = @seventh.Key })">Details</a></button></div>
                    </div>
                </div>
                <br />
                  <div class="row p-2 bg-white border rounded">
                    <div class=" d-flex justify-content-center align-items-center col-md-3 mt-1"><h1 class=" display-1 fw-bold">8.</h1></div>
                    <div class=" d-flex justify-content-center align-items-center  col-md-6 mt-1">
                        <h1><a href="@Url.Action("Details", "Cities", new { name = @eight.Key })">@eight.Key</a></h1>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h5 class="mr-1">City AHP Score</h5>
                        </div>
                        <h6 class="text-success">@eight.Value.ToString()</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button"><a class="text-white" href="@Url.Action("Details", "Cities", new { name = @eight.Key })">Details</a></button></div>
                    </div>
                </div>
                <br />
                <div class="row p-2 bg-white border rounded">
                    <div class=" d-flex justify-content-center align-items-center col-md-3 mt-1"><h1 class=" display-1 fw-bold">9.</h1></div>
                    <div class=" d-flex justify-content-center align-items-center  col-md-6 mt-1">
                        <h1><a href="@Url.Action("Details", "Cities", new { name = @nineth.Key })">@nineth.Key</a></h1>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h5 class="mr-1">City AHP Score</h5>
                        </div>
                        <h6 class="text-success">@nineth.Value.ToString()</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button"><a class="text-white" href="@Url.Action("Details", "Cities", new { name = @nineth.Key })">Details</a></button></div>
                    </div>
                </div>
                <br />
                <div class="row p-2 bg-white border rounded">
                    <div class=" d-flex justify-content-center align-items-center col-md-3 mt-1"><h1 class=" display-1 fw-bold">10.</h1></div>
                    <div class=" d-flex justify-content-center align-items-center  col-md-6 mt-1">
                        <h1><a href="@Url.Action("Details", "Cities", new { name = @tenth.Key })">@tenth.Key</a></h1>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h5 class="mr-1">City AHP Score</h5>
                        </div>
                        <h6 class="text-success">@tenth.Value.ToString()</h6>
                        <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button"><a class="text-white" href="@Url.Action("Details", "Cities", new { name = @tenth.Key })">Details</a></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript'>#</script>
    <script type='text/javascript'>
        var myLink = document.querySelector('a[href="#"]');
        myLink.addEventListener('click', function (e) {
            e.preventDefault();
        });</script>

</body>
</html>