@model UaScoresDataFrame

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="FilterByContinent">Filter by continent</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Continent)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model.)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Continent)
                </td>                
            </tr>
        }*@
    </tbody>
</table>
