@model List<UaScoresDataFrame>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_OnePageLayout.cshtml";
}

<link rel="stylesheet" href="~/filtertbl/style.css">


<section id="filter-constraints" class="why-us">
    <div class="container">

        <div style="overflow-x:auto; width:100%" id="scroller" class="row g-0">
            <table id="le-Table-1" class="table table-striped table-sm " style="width:100%">
                <!--  Table Header -->
                <thead>
                    <tr class="header" >
                        <!--When a header is clicked, run the sortTable function, with a parameter, 0 for sorting by names, 1 for sorting by country:-->
                        <th onclick="sortTable(0)">City ID</th>
                        <th onclick="sortTable(0)">Continent</th>
                        <th onclick="sortTable(1)">Country</th>
                        <th onclick="sortTable(2)">City</th>
                        <th onclick="sortTable(3)">Business Freedom</th>
                        <th onclick="sortTable(4)">Commute</th>
                        <th onclick="sortTable(5)">Safety</th>
                        <th onclick="sortTable(6)">Economy</th>
                        <th onclick="sortTable(7)">Cost of Living</th>
                        <th onclick="sortTable(8)">Education</th>
                        <th onclick="sortTable(9)">Environmental Quality</th>
                        <th onclick="sortTable(10)">Healthcare</th>
                        <th onclick="sortTable(11)">Housing</th>
                        <th onclick="sortTable(12)">Internet Access</th>
                        <th onclick="sortTable(13)">Leisure & Culture</th>
                        <th onclick="sortTable(14)">Outdoors</th>
                        <th onclick="sortTable(15)">Taxation</th>
                        <th onclick="sortTable(16)">Startups</th>
                        <th onclick="sortTable(17)">Tolerance</th>
                        <th onclick="sortTable(18)">Travel Connectivity</th>
                    </tr>
                </thead>
                <!--  Table Body / Rows -->
                <tbody>


                    @foreach (var item in Model)
                    {
                        <tr class='clickable-row' data-href='#link'>
                            <td>
                                <a href="@Url.Action("Details", "Cities", new { name = item.CityName})">

                                @item.CityId
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "Cities", new { name = item.CityName})">
                                @item.Continent
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "Cities", new { name = item.CityName})">
                                @item.Country
                                </a>

                            </td>

                            <td>
                                <a href="@Url.Action("Details", "Cities", new { name = item.CityName})">
                                @item.CityName
                                </a>
                            </td>
                            <td>
                             
                                @Math.Round(item.BusinessFreedom, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                               
                                @Math.Round(item.Commute, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                               
                                @Math.Round(item.Safety, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                             
                                @Math.Round(item.Economy, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                              
                                @Math.Round(item.CostofLiving, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                         
                                @Math.Round(item.Education, 2, MidpointRounding.AwayFromZero)

                            </td>

                            <td>
                              
                                @Math.Round(item.EnvironmentalQuality, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                               
                                @Math.Round(item.Healthcare, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                                
                                @Math.Round(item.Housing, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                                
                                @Math.Round(item.InternetAccess, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                                
                                @Math.Round(item.LeisureCulture, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                                
                                @Math.Round(item.Outdoors, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                                
                                @Math.Round(item.Taxation, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                                
                                @Math.Round(item.Startups, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                                
                                @Math.Round(item.Tolerance, 2, MidpointRounding.AwayFromZero)

                            </td>
                            <td>
                                
                                @Math.Round(item.TravelConnectivity, 2, MidpointRounding.AwayFromZero)

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>